<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} <link rel='stylesheet' type='text/css' media='screen' href="css/style.css"> {% endcomment %}
    {% comment %} <script src='main.js'></script> {% endcomment %}
    <title>KatyaPage</title>
</head>
<body>
<style>  table{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}  
/* div{
    margin-left: 20%;
    margin-right: 20%;
} */

a:hover{
    color: gray;
}

.one{
    margin-left: 20%;
    margin-right: 20%;
}

.two{
    margin-left: 20%;
    margin-right: 20%;     
}

.tb{
    margin-left: 20%;
    margin-right: 20%;
    position: absolute; 
    bottom: 0; 
}
.image{
    margin:10px 10px 0px 10px;
}</style>
    {% block content %}

    {% endblock %}
</body>
</html>