 table{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}  
/* div{
    margin-left: 20%;
    margin-right: 20%;
} */

.one{
    margin-left: 20%;
    margin-right: 20%;
}

.two{
    margin-left: 20%;
    margin-right: 20%;     
}

.tb{
    margin-left: 20%;
    margin-right: 20%;
    position: absolute; 
    bottom: 0; 
}
.image{
    margin:10px 10px 0px 10px;
}